<template>
  <!-- 这是地图 -->
  <view class="page-section page-section-gap">
    <map :markers="markers" scale='18' :enable-satellite='checkedWeixin' enable-building='true' style="width: 100%; height:calc(90vh);" :latitude="latitude" :longitude="longitude" id="map" ref='map' show-location='true' @callouttap='callouttap' @click="clickMap">
    </map>
  </view>
</template>
<script>
export default {
  data() {
    return {
      checkedWeixin: false,
      latitude: 31.53598,
      longitude: 121.48053,
      markers: [{
        id: 0,
        title: "测试1",
        width: 58,
        height: 58,
        latitude: 31.53588,
        longitude: 121.48053,
      }]
    }
  },
  methods: {
    clickMap(e) {
      console.log(e, 'clickMap');
      this.latitude=e.detail.latitude
      this.longitude=e.detail.longitude
      this.markers[0].latitude=e.detail.latitude
      this.markers[0].longitude=e.detail.longitude
    }
  }
}
</script>