<template>
  <view>
    <movable-area class="area">
      <movable-view class="view" :x="x" :y="y" direction="all" @change="onChange">text</movable-view>
    </movable-area>
  </view>
</template>
<script>
export default {
  data() {
    return {
      x: 0,
      y: 0,
      old: {
        x: 0,
        y: 0
      }
    }
  },
  mounted() {
    this.funTest()
    this.funTest1()
  },

  methods: {
    onChange(e) {
      console.log(e, 'eeeeee');
      this.old.x = e.detail.x
      this.old.y = e.detail.y
    }
  }
}
</script>
<style>
.area {
  width: 100vh;
  height: 100vh;
}

.view {
  width: 50px;
  height: 50px;
}
</style>